<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js" integrity="sha512-9UR1ynHntZdqHnwXKTaOm1s6V9fExqejKvg5XMawEMToW4sSw+3jtLrYfZPijvnwnnE8Uol1O9BcAskoxgec+g==" crossorigin="anonymous"></script>




</head>


<!--<script>-->
<!--function includeHTML() {-->
<!--  var z, i, elmnt, file, xhttp;-->
<!--  /*loop through a collection of all HTML elements:*/-->
<!--  z = document.getElementsByTagName("*");-->
<!--  for (i = 0; i < z.length; i++) {-->
<!--    elmnt = z[i];-->
<!--    /*search for elements with a certain atrribute:*/-->
<!--    file = elmnt.getAttribute("w3-include-html");-->
<!--    if (file) {-->
<!--      /*make an HTTP request using the attribute value as the file name:*/-->
<!--      xhttp = new XMLHttpRequest();-->
<!--      xhttp.onreadystatechange = function() {-->
<!--        if (this.readyState == 4) {-->
<!--          if (this.status == 200) {elmnt.innerHTML = this.responseText;}-->
<!--          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}-->
<!--          /*remove the attribute, and call this function once more:*/-->
<!--          elmnt.removeAttribute("w3-include-html");-->
<!--          includeHTML();-->
<!--        }-->
<!--      }-->
<!--      xhttp.open("GET", file, true);-->
<!--      xhttp.send();-->
<!--      /*exit the function:*/-->
<!--      return;-->
<!--    }-->
<!--  }-->
<!--};-->
<!--</script>-->



<body>
	<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: 	#800000;">
    <a class="navbar-brand" href="/mathe"><img src="../static/logo.png" height="40" class="d-inline-block align-top"  alt="">
        <span class="align-bottom"> AudioVisual Content Authentication </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto" style="margin-left:auto; margin-right:auto;">
        <li class="nav-item ">
          <a class="nav-link" href="/mathe">Analyze </a>
        </li>
           <li class="nav-item" active>
          <a class="nav-link" href="/contribute">Contribute <span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
	
	<div class = "container " style="height:30px"></div>
    <div class="container">

        <h1>Annotation</h1>
<!--        {{bokehpragmatakia}}-->
<!--        <div class="jumbotron">-->
        <div class = "container pb-4">
            <button type="button" class="btn btn-dark" onclick="javascript:location.reload()">Skip</button>
        </div>
        <div class = "container" >
<!--             <audio controls style="width:100%" id="audio_obj">-->
<!--                 <source src={{filepath}} type="audio/wav">-->
<!--                 <source src={{filepath}} type="audio/mp3">-->
<!--                 <source src={{filepath}} type="audio/ogg">-->
<!--                 Your browser does not support the audio element.-->
<!--             </audio>-->
             <div class="form-row pt-3 ">
                 <div class="col-md-auto">
                     <button  class="btn btn-primary" style="background-color: #800000;" type = "submit" onClick="playAudio(this)">Play at: </button>
                 </div>
                 <div class="col-md-auto">
                     <input name="playTime" class="form-control" type="number"  min="1" max="10000" id="playTime" placeholder="insert start time (seconds)">
                 </div>
        </div>
        <script>
        var audio_obj = document.getElementById("audio_obj");
        function playAudio() {
            var currtime=document.getElementById("playTime").value;
            audio_obj.currentTime = parseFloat(currtime);
            audio_obj.play();
        }

        function enableTampered(source) {
                   document.getElementById("yesBtn").disabled = true
                   document.getElementById("noBtn").disabled = false
                   document.getElementById("tampSeconds").disabled = false
                   document.getElementById("comments").disabled = false
                   document.getElementById("isTampered").value = "y"
                    }
        function disableTampered(source) {
                   document.getElementById("yesBtn").disabled = false
                   document.getElementById("noBtn").disabled = true
                   document.getElementById("tampSeconds").disabled = true
                   document.getElementById("comments").disabled = true
                   document.getElementById("isTampered").value = "n"

                    }

</script>
<!--        <div class = "container">-->
<!--            {% include 'bokeh.html' %}-->
<!--        </div>-->
<!--        <a href = './results?filename=bokeh.html' target="_blank">show results <br></a>-->
        <a href='{{results_bokeh}}' download>download results</a>
<!--        </div>-->
        <div class = 'bg-light'>
            <div class="container" >
                <p class="pt-3"> Do you consider the file tampered? <br/></p>
                <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary" id="yesBtn" name="yesBtn" onClick="enableTampered(this)" >
                                Yes
                            </button>
                            <button type="button" class="btn btn-secondary" id="noBtn" name="noBtn" onClick="disableTampered(this)" disabled>
                                No
                            </button>
                        </div>
                 <form name="form"  onsubmit="return validateForm()" method="POST" >

                     <div class="form-row pt-3">
                         <div class="form-group" style="width:100%">
<!--                            <label for="formGroupExampleInput">Tampering point (seconds)</label>-->
                             <input type="number" class="form-control" id="tampSeconds" name="tampSeconds" placeholder="Tampering point (seconds)" style="width:25%" disabled>
                             <input type="text" class="form-control" id="filepath" name="filepath" value={{filepath}} style="display:none;">
                             <input type="text" class="form-control" id="isTampered" name="isTampered" value= "n" style="display:none;">

                         </div>
<!--                         <button class="btn btn-secondary" onclick="">Add element</button>-->
                     </div>

                     <div class="form-row pt-2" >
                         <div class="form-group" style="width:100%">
                            <textarea rows="3" style="width:40%" class="form-control" id="comments" name="comments" placeholder="Why do you consider the file tampered? (optional)" disabled></textarea>
                          </div>
<!--                         <button class="btn btn-secondary" onclick="">Add element</button>-->
                     </div>

                     <div class="form-row pt-3 pb-3">
                     <input class="btn btn-primary" name="action" value="contribute" style="background-color: #800000;" type = "submit" >
                    </div>
                 </form>
             </div>
        </div>


<!-- <div w3-include-html="bokeh.html"></div>-->
<!--	</div>-->
<!--<script>-->
<!--includeHTML();-->
<!--</script>-->

        </div>
    </div>
</body>
</html>